@page "/warehouse-delete-by-id"
@inject HttpClient Http
<h3>Delete Warehouses By Choosing Company</h3>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Please choose the company name</h5>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Company Name</label>
            <div class="col-sm-8">
                <select class="form-control" @onchange="SelectCompany" @onclick="IsSelecting">
                    <option value=0>Choose</option>
                    @if (companies == null)
                    {
                        <p>companies null</p>
                    }
                    else
                    {
                        @foreach (var company in companies)
                        {
                            <option value=@company.Id>@company.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-8">
                <button type="button" class="btn btn-primary" @onclick="ChangeSitutation">Select</button>
            </div>
        </div>
    </div>
</div>


    @if (companyId != 0 && selecting)
    {
        <ListForDeleteWarehouses companyId="companyId"></ListForDeleteWarehouses>
    }



@code
{
    //variables for binding
    public string companyIdString = "";
    public int companyId = 0;

    //variables for check situations to show list
    public bool selecting = true;

    public void IsSelecting()
    {
        selecting = false;
    }
    public void ChangeSitutation()
    {
        selecting = true;
    }
    public void SelectCompany(ChangeEventArgs e)
    {
        companyIdString = e.Value.ToString();
        companyId = Int32.Parse(companyIdString);
    }

    //api consuming
    public List<Company> companies;
    protected override async Task OnInitializedAsync()
    {
        companies = await Http.GetFromJsonAsync<List<Company>>("api/CompanyInformations");
    }
}
