@page "/"
@using KLN_Proje.UI.Pages.Customers
@inject IModalService modal
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button @onclick="@(()=> modal.Show<AddCustomer>("Modal Example"))" class="btn btn-primary">View</button>

@code{

}